flows190424.json
[
    {
        "id": "69d70927991bb358",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31e9960f055721e5",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "prepWA",
        "func": "msg.params = {\n    session_id: msg.payload.session_id,\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6b034d986e1bef8b",
        "type": "watson-assistant-v2",
        "z": "69d70927991bb358",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/f6158b87-5683-4e9d-a808-d76658ac41cd",
        "assistant_id": "4f75b9e4-7149-4abd-a8f1-c44f2c92fb05",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "12a6a906751035d7"
            ]
        ]
    },
    {
        "id": "5e9caa7b49144454",
        "type": "watson-speech-to-text",
        "z": "69d70927991bb358",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "44Y6giilcW3I_GcrnJipO-MVVRNXyQmbujIfcg_OBB0m",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/33e4f574-cd4a-4f46-83c7-d1b13d259666",
        "x": 570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "95a9c27132da21f3",
        "type": "telegram receiver",
        "z": "69d70927991bb358",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "0d8925745d68e91a"
            ],
            []
        ]
    },
    {
        "id": "cd9edd044ce4d793",
        "type": "telegram sender",
        "z": "69d70927991bb358",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0d8925745d68e91a",
        "type": "change",
        "z": "69d70927991bb358",
        "name": "prepWAChange",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "6b034d986e1bef8b"
            ]
        ]
    },
    {
        "id": "12a6a906751035d7",
        "type": "change",
        "z": "69d70927991bb358",
        "name": "pospWAChange",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "c8584f3836744708"
            ]
        ]
    },
    {
        "id": "3e2b88179156f824",
        "type": "change",
        "z": "69d70927991bb358",
        "name": "voicePrepWAChange",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "5e9caa7b49144454"
            ]
        ]
    },
    {
        "id": "cc48edc434500bb8",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "pospWA",
        "func": "msg.payload = {\n    chatId: msg.chatId,\n    type: \"message\",\n    content: msg.payload.output.generic[0].text\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c8584f3836744708",
        "type": "watson-text-to-speech",
        "z": "69d70927991bb358",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "am3Qb7glMRkldP5yesC9wsNKe7h8wcoTRTRc2Se6qKY-",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/2e96960c-80f6-42df-b6f7-a02b243018dc",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "cd9edd044ce4d793",
                "b667404008dd1e03"
            ]
        ]
    },
    {
        "id": "b667404008dd1e03",
        "type": "debug",
        "z": "69d70927991bb358",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 320,
        "wires": []
    },
    {
        "id": "c82df6bca2642997",
        "type": "change",
        "z": "69d70927991bb358",
        "name": "voice_pospWAChange",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "type",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 340,
        "wires": [
            []
        ]
    }
]
