100524/flows.json
[
    {
        "id": "e4fbbe1c0bfe0e79",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de5102c9c974ef77",
        "type": "file in",
        "z": "e4fbbe1c0bfe0e79",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "7e04e70a87b0d38d"
            ]
        ]
    },
    {
        "id": "7e04e70a87b0d38d",
        "type": "json",
        "z": "e4fbbe1c0bfe0e79",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "8d77798562e4877d"
            ]
        ]
    },
    {
        "id": "9ce9992faedc329b",
        "type": "function",
        "z": "e4fbbe1c0bfe0e79",
        "name": "ProcIN",
        "func": "msg.filename = \"C:\\Users\\logonrmlocal\\Desktop\\dados.json\";\nmsg.params = {\n    \"session_id\": msg.payload.chatId\n}\nmsg.entrada_usuario = msg.payload.content\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "de5102c9c974ef77"
            ]
        ]
    },
    {
        "id": "2f2d6179fe428a2b",
        "type": "telegram receiver",
        "z": "e4fbbe1c0bfe0e79",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "9ce9992faedc329b"
            ],
            []
        ]
    },
    {
        "id": "8d77798562e4877d",
        "type": "function",
        "z": "e4fbbe1c0bfe0e79",
        "name": "ProcIN WA",
        "func": "// Percorrendo a lista de dicionários carregada o arquivo JSON\nif (msg.payload.length==0){\n    msg.index_usuario = \"sem cadastro\";\n}else{\n    for (let i = 0; i < msg.payload.length; i++) {\n        // Verificando se a chave 'user' é igual ao chatId/session_id atual\n        if (msg.payload[i].user === msg.params.session_id) {\n            msg.additional_context = {\n                \"cep\":msg.payload[i].cep,\n                \"email\":msg.payload[i].email,\n                \"telefone\":msg.payload[i].telefone,\n            }\n            msg.index_usuario=i;\n            break; \n        }else{\n            // Se não encontrar, então o usuário ainda não foi cadastrado\n            msg.index_usuario = \"sem cadastro\";\n        }\n    }\n}\nnode.warn(msg.index_usuario) // Print sem usar debug\nmsg.arquivo = msg.payload;   // Salvando o arquivo lido em outra variável\nmsg.payload = msg.entrada_usuario;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 380,
        "wires": [
            [
                "1255d97bd43867b8"
            ]
        ]
    },
    {
        "id": "1255d97bd43867b8",
        "type": "watson-assistant-v2",
        "z": "e4fbbe1c0bfe0e79",
        "name": "WA",
        "service-endpoint": "",
        "assistant_id": "",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "d0dfc7e703d4f719"
            ]
        ]
    },
    {
        "id": "d0dfc7e703d4f719",
        "type": "function",
        "z": "e4fbbe1c0bfe0e79",
        "name": "Proc VAL",
        "func": "//Pegando as informacoes do contexto do WA\nif (\"user_defined\" in msg.payload.context.skills[\"main skill\"]) {\n    var temp = msg.payload.context.skills[\"main skill\"].user_defined;\n     if(\"cep\" in temp){\n        var cep = temp.cep;\n     }else{\n        var cep = null;\n     }\n     if(\"telefone\" in temp){\n        var telefone = temp.telefone;\n     }else{\n        var telefone = null;\n     }\n    if(\"email\" in temp){\n        var email = temp.email;\n    }else{\n        var email = null;\n    }\n}\n\n// Realizando o cadastro no arquivo base_dados\nconst novoObjeto = {\n    'user':msg.params.session_id,\n    'cep':cep,\n    'email':email,\n    'telefone':telefone\n    };\n\u000bif(msg.index_usuario == \"sem cadastro\"){\n    //Se o usuario nao tiver cadastro ainda\n    msg.arquivo.push(novoObjeto)\n\u000b}else{\n    //Se o usuario já estiver cadastrado\n    msg.arquivo[msg.index_usuario]=novoObjeto\n}\nmsg.saida_wa = msg.payload.output.generic[0].text;\nmsg.payload = msg.arquivo;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "ecc32e555b5f8303"
            ]
        ]
    },
    {
        "id": "ecc32e555b5f8303",
        "type": "file",
        "z": "e4fbbe1c0bfe0e79",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 380,
        "wires": [
            [
                "78233f7dcd3dae77"
            ]
        ]
    },
    {
        "id": "78233f7dcd3dae77",
        "type": "function",
        "z": "e4fbbe1c0bfe0e79",
        "name": "ProcOUT",
        "func": "msg.payload = {\n    chatId: msg.params.session_id,\n    content: msg.saida_wa,\n    type: \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "7e9533e84e076a60"
            ]
        ]
    },
    {
        "id": "7e9533e84e076a60",
        "type": "telegram sender",
        "z": "e4fbbe1c0bfe0e79",
        "name": "",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 460,
        "wires": [
            []
        ]
    }
]
