CP2/flows.json
[
    {
        "id": "69d70927991bb358",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05e326b20f2ac59b",
        "type": "telegram bot",
        "botname": "MatriculAI",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "31e9960f055721e5",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "prepWA",
        "func": "msg.params = {\n    tipo_saida: \"text\",\n    session_id: msg.payload.chatId\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "6b034d986e1bef8b"
            ]
        ]
    },
    {
        "id": "cc48edc434500bb8",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "pospWA",
        "func": "msg.payload = {\n    chatId: msg.params.session_id,\n    type: \"message\",\n    content: msg.payload.output.generic[0].text\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 380,
        "wires": [
            [
                "cd9edd044ce4d793"
            ]
        ]
    },
    {
        "id": "0f79e16f03aa54aa",
        "type": "switch",
        "z": "69d70927991bb358",
        "name": "switch",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "59f5e0ec5acf9a7f",
                "6b232bc06ac3565d"
            ],
            [
                "31e9960f055721e5",
                "6b232bc06ac3565d"
            ]
        ]
    },
    {
        "id": "1680c387a2a95f7d",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "ProcOUT TTS",
        "func": "msg.payload = {\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: 'voice'\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 280,
        "wires": [
            [
                "cd9edd044ce4d793"
            ]
        ]
    },
    {
        "id": "de972fe00fcd381a",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "ProcOUT WA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 280,
        "wires": [
            [
                "c8584f3836744708"
            ]
        ]
    },
    {
        "id": "1b61a5cb005b5664",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "ProcOUT STT",
        "func": "let chatId = msg.params\nmsg.params = {}\nmsg.params.session_id = chatId\nmsg.payload = msg.payload.content\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 280,
        "wires": [
            [
                "6b034d986e1bef8b"
            ]
        ]
    },
    {
        "id": "59f5e0ec5acf9a7f",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "prepIN STT",
        "func": "msg.params = msg.payload.chatId;\nmsg.params.tipo_saida = \"audio\";\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "5e9caa7b49144454"
            ]
        ]
    },
    {
        "id": "777f3c329e8b8b92",
        "type": "switch",
        "z": "69d70927991bb358",
        "name": "",
        "property": "msg.tipo_saida",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "audio",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "text",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1370,
        "y": 340,
        "wires": [
            [
                "de972fe00fcd381a"
            ],
            [
                "cc48edc434500bb8"
            ]
        ]
    },
    {
        "id": "f28b161771fc548a",
        "type": "debug",
        "z": "69d70927991bb358",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f63090a8fbaacd4",
        "type": "debug",
        "z": "69d70927991bb358",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "6b034d986e1bef8b",
        "type": "watson-assistant-v2",
        "z": "69d70927991bb358",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/f6158b87-5683-4e9d-a808-d76658ac41cd",
        "assistant_id": "6287288f-97db-41e2-acff-a7653cce69bb",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 950,
        "y": 340,
        "wires": [
            [
                "6f63090a8fbaacd4",
                "2267ca3417685d94"
            ]
        ]
    },
    {
        "id": "5e9caa7b49144454",
        "type": "watson-speech-to-text",
        "z": "69d70927991bb358",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "44Y6giilcW3I_GcrnJipO-MVVRNXyQmbujIfcg_OBB0m",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/33e4f574-cd4a-4f46-83c7-d1b13d259666",
        "x": 580,
        "y": 280,
        "wires": [
            [
                "1b61a5cb005b5664"
            ]
        ]
    },
    {
        "id": "c8584f3836744708",
        "type": "watson-text-to-speech",
        "z": "69d70927991bb358",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "am3Qb7glMRkldP5yesC9wsNKe7h8wcoTRTRc2Se6qKY-",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/2e96960c-80f6-42df-b6f7-a02b243018dc",
        "x": 1650,
        "y": 280,
        "wires": [
            [
                "1680c387a2a95f7d"
            ]
        ]
    },
    {
        "id": "95a9c27132da21f3",
        "type": "telegram receiver",
        "z": "69d70927991bb358",
        "name": "",
        "bot": "05e326b20f2ac59b",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "0f79e16f03aa54aa"
            ],
            []
        ]
    },
    {
        "id": "cd9edd044ce4d793",
        "type": "telegram sender",
        "z": "69d70927991bb358",
        "name": "",
        "bot": "05e326b20f2ac59b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1990,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2267ca3417685d94",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "procWA",
        "func": "if ('user_defined' in msg.payload.context.skills['main skill']){\n    if ('tipo_saida' in msg.payload.context.skills['main skill'].user_defined) {\n        msg.tipo_saida = msg.payload.context.skills['main skill'].user_defined.tipo_saida;\n    } else {\n        msg.tipo_saida = msg.params.tipo_saida;\n    }\n}else {\n    msg.tipo_saida = msg.params.tipo_saida;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 340,
        "wires": [
            [
                "f28b161771fc548a",
                "777f3c329e8b8b92"
            ]
        ]
    },
    {
        "id": "6b232bc06ac3565d",
        "type": "debug",
        "z": "69d70927991bb358",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    }
]
