CP2/flows.json
[
    {
        "id": "69d70927991bb358",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05e326b20f2ac59b",
        "type": "telegram bot",
        "botname": "MatriculAI",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "31e9960f055721e5",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "prepWA",
        "func": "msg.params = {\n    session_id: msg.payload.session_id,\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "6b034d986e1bef8b",
        "type": "watson-assistant-v2",
        "z": "69d70927991bb358",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/f6158b87-5683-4e9d-a808-d76658ac41cd",
        "assistant_id": "1de4a4f8-adda-4262-9771-7d3af1a1ebb4",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 870,
        "y": 660,
        "wires": [
            [
                "de972fe00fcd381a"
            ]
        ]
    },
    {
        "id": "5e9caa7b49144454",
        "type": "watson-speech-to-text",
        "z": "69d70927991bb358",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "44Y6giilcW3I_GcrnJipO-MVVRNXyQmbujIfcg_OBB0m",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/33e4f574-cd4a-4f46-83c7-d1b13d259666",
        "x": 570,
        "y": 600,
        "wires": [
            [
                "1b61a5cb005b5664"
            ]
        ]
    },
    {
        "id": "95a9c27132da21f3",
        "type": "telegram receiver",
        "z": "69d70927991bb358",
        "name": "",
        "bot": "05e326b20f2ac59b",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 80,
        "y": 560,
        "wires": [
            [
                "0f79e16f03aa54aa",
                "e2430213a465ee6a"
            ],
            []
        ]
    },
    {
        "id": "cd9edd044ce4d793",
        "type": "telegram sender",
        "z": "69d70927991bb358",
        "name": "",
        "bot": "05e326b20f2ac59b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1600,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "0d8925745d68e91a",
        "type": "change",
        "z": "69d70927991bb358",
        "name": "prepWAChange",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "12a6a906751035d7",
        "type": "change",
        "z": "69d70927991bb358",
        "name": "pospWAChange",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "3e2b88179156f824",
        "type": "change",
        "z": "69d70927991bb358",
        "name": "voicePrepWAChange",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 600,
        "wires": [
            [
                "5e9caa7b49144454"
            ]
        ]
    },
    {
        "id": "cc48edc434500bb8",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "pospWA",
        "func": "msg.payload = {\n    chatId: msg.chatId,\n    type: \"message\",\n    content: msg.payload.output.generic[0].text\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c8584f3836744708",
        "type": "watson-text-to-speech",
        "z": "69d70927991bb358",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "am3Qb7glMRkldP5yesC9wsNKe7h8wcoTRTRc2Se6qKY-",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/2e96960c-80f6-42df-b6f7-a02b243018dc",
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "1680c387a2a95f7d"
            ]
        ]
    },
    {
        "id": "0f79e16f03aa54aa",
        "type": "switch",
        "z": "69d70927991bb358",
        "name": "switch",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "3e2b88179156f824"
            ],
            []
        ]
    },
    {
        "id": "e2430213a465ee6a",
        "type": "debug",
        "z": "69d70927991bb358",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 520,
        "wires": []
    },
    {
        "id": "1680c387a2a95f7d",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "ProcOUT TTS",
        "func": "msg.payload = {\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: 'voice'\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 600,
        "wires": [
            [
                "cd9edd044ce4d793",
                "6acae2209ae75103"
            ]
        ]
    },
    {
        "id": "6acae2209ae75103",
        "type": "debug",
        "z": "69d70927991bb358",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 540,
        "wires": []
    },
    {
        "id": "de972fe00fcd381a",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "ProcOUT WA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 600,
        "wires": [
            [
                "c8584f3836744708"
            ]
        ]
    },
    {
        "id": "1b61a5cb005b5664",
        "type": "function",
        "z": "69d70927991bb358",
        "name": "ProcOUT STT",
        "func": "let chatId = msg.params\nmsg.params = {}\nmsg.params.session_id = chatId\nmsg.payload = msg.payload.content\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 600,
        "wires": [
            [
                "6b034d986e1bef8b"
            ]
        ]
    }
]